.home {
  align-items: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #64748b;
}

.box {
  height: 300px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: #f5f5f5;
  gap: 12px;
}

.title {
  font-size: 3rem;
  height: 3rem;
  margin: 0;
  color: #1f1f1f;
}

.searchBar {
  height: 50px;
  width: 500px;
  border-radius: 8px;
  text-align: center;
  font-size: 2rem;
  background-color: #fefefe;
  border: none;
  outline-color: #807a7a;
  color: #1f1f1f;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
