.all {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.back {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
}

.container {
  height: auto;
  width: 80%;
  background-color: red;
}
